body {
	background: linear-gradient( 30deg, var(--fundo), #fff, rgb(158, 158, 158));
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.alignHeader {
    display: flex;
    flex-direction: column;
}

.headerDash {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aqua;
}

.headerDash .cores {
    display: flex;
    width: 5%;
    height: 100px;
    opacity: 75%;
}

.headerDash .cor1 {
    background-color: var(--azul);
    width: 15px;
    height: 100%;
    border: 0;
    box-shadow: -3px 0 10px 0 var(--azul);
}

.headerDash .cor2 {
    background-color: var(--azulClaro);
    width: 15px;
    height: 100%;
    border: 0;
    box-shadow: 0 0 10px 0 var(--azulClaro);
}

.headerDash .cor3 {
    background-color: var(--laranja);
    width: 15px;
    height: 100%;
    border: 0;
    box-shadow: 3px 0 10px 0 var(--laranja);
}


.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: aqua;
}

.testes {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 80%;
    height: 80%;
}

.teste1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: blueviolet;
}
.teste2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: brown;
}

.teste3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: burlywood;
}