.corpo {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    border-radius: 8px;
}

.corpo .primeiraParte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    background-color: var(--cinzaEscuro);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.corpo .primeiraParte .texto h2 {
    text-align: left;
    font-size: 200%;
}

.texto {
    width: 50%;
    padding: 30px;
}

.texto .spanTexto a {
    text-decoration: none;
    color: var(--laranja);
    transition: 300ms;
}

.texto .spanTexto :hover {
    color: var(--azul);
}

.primeiraParte .imgBendyButton {
    background-image: url(../assets/imgs/centerpiece.png);
    background-size: 100%;
    background-position: center;
    width: 45%;
    height: 20vw;
    border-radius: 8px;
    padding: 20px;
}

.segundaParte {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    background-color: var(--cinzaEscuro);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.corpo .imgLocal {
    background-image: url(../assets/imgs/apertureLocal.jpeg);
    background-size: 100%;
    background-position: center;
    width: 45%;
    height: 19vw;
    border-radius: 8px;
}

.segundaParte .texto {
    margin: 0;
    flex-direction: column;
    text-align: right;
}

.segundaParte .texto h2 {
    text-align: end;
}

.terceiraParte {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    background-color: var(--cinzaEscuro);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.corpo .terceiraParte .texto h2 {
    text-align: left;
}

.terceiraParte .texto {
    margin: 0;
}

.terceiraParte .portalGunBp {
    background-image: url(../assets/imgs/portalGun/portalGunBp3.jpeg);
    background-size: 100%;
    background-position: center;
    width: 45%;
    height: 19vw;
    border-radius: 8px;
}

.quartaParte {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    background-color: var(--cinzaEscuro);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.quartaParte .videoGeral video{
    width: 90%;
    border-radius: 10px;
}

.corpo .quartaParte .texto h2 {
    text-align: right;
}