.corpo {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.corpo .primeiraParte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
}

.corpo .texto {
    width: 50%;
    margin-right: 100px;
}

.corpo .imgLogos {
    background-image: url(../assets/imgs/LogosAperture.png);
    background-size: 100%;
    background-position: center;
    width: 35%;
    height: 17vw;
}

.segundaParte {
    display: flex;
    justify-content: center;
}