.background1 {
    background-image: url(../assets/imgs/apertureRuins.jpg);
    background-position: center;
    background-size: 100%;
    padding-bottom: 5%;
    box-shadow: var(--shadowEscura);
}

.background2 {
    background-image: url(../assets/imgs/mesa\ de\ conferencia.jpg);
    background-position: center;
    background-size: 100%;
    box-shadow: var(--shadowEscura);
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.background3 {
    background-image: url(../assets/imgs/apertureBackgroundRoom.jpeg);
    background-position: center;
    background-size: 100%;
    box-shadow: var(--shadowEscura);
}

.background4 {
    background-image: url(../assets/imgs/apertureBackgroundColors.jpeg);
    background-position: center;
    background-size: 70%;
    box-shadow: var(--shadowEscura);
}

.header {
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: var(--shadowEscura);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
}

.titulo {
    font-size: 140%;
    opacity: 50%;
}

.quebra {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quebra img {
    width: 2%;
}

span {
    display: flex;
    margin-bottom: -10px;
    font-weight: 900;
}

.secao1-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.secao1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 60%;
    font-size: 1vw;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: var(--shadowEscura);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.secao1 .textos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imgAtlas img {
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--shadowClara);
}

.imgInfo {
    display: flex;
    align-items: center;
    width: 30%;
}

.imgInfo {
    display: flex;
    flex-direction: column;
}

.imgInfo .info {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.452);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
}

.imgInfo .info img {
    width: 3%;
}

.secao1 .parte1 {
    font-weight: 1000;
    font-size: 250%;
    padding-bottom: 20px;
}

.secao1 .parte2 {
    text-align: justify;
    font-size: 110%;
}

.secao2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e8ca9e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--shadowEscura);
}

.secao2 .img {
    display: flex;
    align-items: center;
    width: 100%;
}

.secao2 .img img {
    width: 100%;
    border-radius: 50%;
}

.secao2 .textos {
    width: 500%;
    text-align: justify;
    padding: 20px;
}

.secao2 .parte1 {
    font-weight: 800;
    padding-bottom: 20px;
}

.secao3-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.secao3 {
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: #cbc4a0;
    box-shadow: var(--shadowEscura);
    border-radius: 8px;
    width: 65%;
}

.secao3 .textos {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 30px;
}

.secao3 .titulo {
    font-size: 120%;
}

.secao4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    width: 30%;
}

.secao4 .img img {
    width: 100%;
    box-shadow: var(--shadowEscura);
    border-radius: 8px;
}

.secao5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--cinzaEscuro);
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: var(--shadowEscura);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
}

.secao5 .img {
    width: 70%;
    border-radius: 8px;
    padding: 20px;
}

.secao5 .img img {
    width: 100%;
    box-shadow: var(--shadowEscura);
    border-radius: 8px;
}

.secao5 .textos {
    text-align: justify;
    width: 70%;
}
.secao5 .textos .titulo {
    padding: 10px;
}

.secao5 .textos .parte1 {
    padding: 20px;
}

.secao5 .textos .parte2 {
    padding: 20px;
}

.logoQuebra {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoQuebra img {
    box-shadow: var(--shadow);
}

.logoQuebra img {
    width: 40%;
    border-radius: 50px;
}

.secao6-7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.secao6 {
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-image: url(../assets/imgs/texturaPapelAzul2.jpg);
    background-size: 120%;
    box-shadow: var(--shadowClara);
    border-radius: 8px;
    width: 65%;
}

.secao6 .textos {
    margin-top: 20%;
    padding: 30px;
    background-color: #e8ca9e;
    box-shadow: var(--shadow);
    border-radius: 4px;
}

.secao7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    width: 30%;
}

.secao7 .img img {
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 8px;
}

.secao8 {
    display: flex;
    text-align: justify;
    margin-top: 50px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.253);
    box-shadow: var(--shadowEscura);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
    color: #cbc4a0;
}

.secao8 .parte1 {
    margin-bottom: 30px;
    padding: 10px;
}

.secao8 .parte2, .secao8 .parte3, .secao8 .parte4, .secao8 .parte5, .secao8 .parte6 {
    padding: 10px;
}

.secao8 .img {
    width: 130%;
    margin-left: 5%;
}

.secao8 .img img {
    width: 100%;
}

.secao8 .msg {
    font-weight: 700;
    margin-left: 10px;
}

.secao9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 20%;
    background-image: url(../assets/imgs/spaceWheatley.gif);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    box-shadow: var(--shadow);
}

.secao9 .backColor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
    padding: 20px;
    border-radius: 10px;
}

.secao9 .msg {
    margin-top: 5px;
    font-weight: 600;
}

.footer {
    margin-top: 100px;
}