.corpo {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.quadrados1 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.quadrados2 {
    margin-top: 70px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tecnologia1 {
    background-image: url(../assets/imgs/weightedCubeIrl.jpeg);
    background-size: 350px;
    background-position-x: left;
    background-position-y: center;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    transition: 700ms;
}

.tecnologia2 {
    background-image: url(../assets/imgs/companionCubeRender.jpg);
    background-size: 450px;
    background-position-x: center;
    background-position-y: center;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    transition: 700ms;
}

.tecnologia3 {
    background-image: url(../assets/imgs/painel1.jpg);
    background-size: 175%;
    background-position-x: 60%;
    background-position-y: center;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    transition: 700ms;
}

.tecnologia4 {
    background-image: url(../assets/imgs/portal\ gun\ 2.jpeg);
    background-size: 310px;
    background-position-x: right;
    background-position-y: 30%;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    transition: 700ms;
}

.tecnologia5 {
    background-image: url(../assets/imgs/turret.jpg);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    transition: 700ms;
}

.tecnologia6 {
    background-image: url(../assets/imgs/radio\ irl.jpeg);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    transition: 700ms;
}

p {
    position: absolute;
    margin-top: 100px;
    font-weight: 600;
    background-color: rgba(33, 33, 33, 0.61);
    padding: 2px 10px 2px 10px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
}

.p1 {
    color: aqua;
    padding: 2px 10px 2px 10px;
    border-radius: 50px;
    margin-left: 50px;
}

.p2 {
    color: pink;
    padding: 2px 10px 2px 10px;
    border-radius: 50px;
    margin-left: 35px;
}

.p3 {
    color: #0065ff;
    margin-left: 45px;
    border-radius: 50px;
}

.p4 {
    color: #0065ff;
    margin-left: 60px;
    border-radius: 50px;
}

.p5 {
    color: #c4c4c4;
    margin-left: 15px;
    border-radius: 50px;
}

.p6 {
    color: #c4c4c4;
    margin-left: 40px;
    border-radius: 40px;
}

.quadrados1 :hover {
    border-radius: 50px;
    margin-bottom: 1%;
    box-shadow: 0 0 50px 0 rgba(84, 84, 84, 0.501);
}

.quadrados2 :hover {
    border-radius: 50px;
    margin-bottom: 1%;
    box-shadow: 0 0 50px 0 rgba(84, 84, 84, 0.501);
}