.corpo {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
}

a {
    width: 35%;
}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes {
    display: flex;
    justify-content: space-evenly;
}

.pti {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pti img {
    filter: drop-shadow(0 0 4px var(--preto));
    opacity: 80%;
}

.opcoes .voluntario {
    background-image: url(../assets/imgs/icon/apertureLoading1.gif);
    background-size: 150%;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 19vw;
    border-radius: 20px;
    justify-content: center;
}

.opcoes a {
    text-decoration: none;
    color: black;
}

.opcoes .naoVoluntario {
    background-image: url(../assets/imgs/icon/apertureLoading\ 2.gif);
    background-size: 130%;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 19vw;
    border-radius: 20px;
}

.footer {
    margin-top: 150px;
}