body {
    background-image: url(../assets/imgs/sofaLightning.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}

::-webkit-scrollbar {
    width: 0;
  }

.header {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
    height: 80px;
}

.header .logoimg {
    background-image: url(../assets/imgs/icon/apertureInnovators.png);
    border-radius: 10px;
    filter: drop-shadow(0 0 10px var(--preto));
    height: 66px;
}

.header .logolink :hover {
    background-image: url(../assets/imgs/icon/Aperture_Laboratories_Logo.png);
    height: 50px;
}

.corpo {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
}

.corpo a {
    width: 35%;
}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    transition: 300ms;
}

.opcoes {
    display: flex;
    justify-content: space-evenly;
}

.opcoes .a1 :hover  {
    color: var(--laranja);
}

.opcoes .a2 :hover  {
    color: var(--azul);
}


.pti {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pti img {
    filter: drop-shadow(0 0 4px var(--preto));
    opacity: 80%;
}

.opcoes .voluntario {
    background-image: url(../assets/imgs/portalGun/portal1.jpg);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 19vw;
    border-radius: 20px;
    justify-content: center;
    transition: 400ms;
}

.opcoes a {
    text-decoration: none;
    color: black;
}

.opcoes a :hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.opcoes .naoVoluntario {
    background-image: url(../assets/imgs/testChamber.jpg);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 19vw;
    border-radius: 20px;
    transition: 400ms;
}

.footer {
    margin-top: 150px;
}

.footer a {
    color: var(--fundo);
}

.footer .creditos {
    color: var(--fundo)
}